<div class="row">
  <div class="col-xs-10">
    <strong><%= card.escape('title') %></strong>
  </div>
  <div class="col-xs-2">
    <% if (card.escape('status') === "Completed"){ %>
      <span class="glyphicon glyphicon-check pull-right"></span>
    <% } %>
    <% if (card.escape('status') === "In Progress"){ %>
      <span class="glyphicon glyphicon-log-in pull-right"></span>
    <% } %>
    <% if (card.escape('status') === "Assigned"){ %>
      <span class="glyphicon glyphicon-new-window pull-right"></span>
    <% } %>
    <% if (card.escape('status') === "Unassigned"){ %>
      <span class="glyphicon glyphicon-unchecked pull-right"></span>
    <% } %>
  </div>
</div>

<div class="row">
  <div class="col-xs-4">
    <%= card.formattedTime('due_time') %>
  </div>
  <div class="col-xs-2">
    <%= card.escape('estimated_mins')/60 %>Hrs
  </div>
  <div class="col-xs-2"> 
    <% if (card.escape('status') === "Completed"){ %>
      <span class="pull-right"><%= parseInt(card.escape('actual_mins') / card.escape('estimated_mins')) %>%</span>
    <% } %>
  </div>
  <div class="col-xs-4">
    <% if (card.escape('status') === "Unassigned" && this.model.get('owned') === true){ %>
      <span class="drop-area pull-right">Drag team member here to assign</span>
    <% } else { %>
      <span class="pull-right"><%= card.escape('assigned_member') %></span>
    <% } %>
  </div>
</div>

<p><%= card.escape('description') %></p>
<% if (card.get('assigned') === true && card.escape('status') !== 'Completed'){ %>
  <% if (!card.get('recent_start')){ %>
    <button class="btn btn-default start"><span class="glyphicon glyphicon-play"></span></button>
  <% } else { %>
    <button class="btn btn-default pause"><span class="glyphicon glyphicon-pause"></span></button>
  <% } %>
  <%= Math.floor(card.get('actual_mins')/60) %> Hrs <%= card.get('actual_mins') % 60 %> Mins spent
  <button class="btn btn-success pull-right complete"><span class="glyphicon glyphicon-ok"></span></button>
<% } %>