<h4>Statistics</h4>

<p><%= boards.size() %> projects</p>
<p><%= Math.floor(boards.totalEstimated() / 60) %> hrs <%= boards.totalEstimated() % 60 %> mins estimated</p>
<p><%= Math.floor(boards.totalCompleted() / 60) %> hrs <%= boards.totalCompleted() % 60 %> mins completed</p>